.vac-content{
    width: 100%;
    font-family: Roboto-Condensed, sans-serif;
    font-weight: normal;
    font-size: 1rem;
}

.vac-header{
    background-color: #48478a;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.vac-header-content{
    position: relative;
    padding: 20px;
    max-width: 1260px;
    margin: 0 auto;
}

.vac-header-content .header-list{
    font-family: "Roboto-Condensed", sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 48px;
    color: white;
}

.vac-header-content .header-list li{
    margin-right: 60px;
    cursor: pointer;
}

.vac-main{
    max-width: 1080px;
    margin-left: 160px;
    margin-right: 160px;
    padding: 20px;
}
.vac-main h3{
    font-family: "Roboto-Condensed Bold", sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}

.vac-main-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}
.vac-leftContent{
    flex: 1;
    padding: 0 10px;
    background: transparent;
    border: none;
    max-width: 770px;
    overflow: hidden;
}
.vac-leftContent .vac-card{
    background: #fff;
    box-shadow: 0 10px 10px rgba(33,37,39,.05);
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    transition: box-shadow .2s;
    cursor: pointer;
}
.vac-leftContent .vac-card:hover{
    box-shadow: 0 230px 20px rgba(33,37,39,.05);
    background-color: rgba(72, 71, 138, 0.1);
}

.vac-leftContent .vac-card .vac-card-body{
    padding: 20px
}

.vac-leftContent .vac-card .card-main-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card-main-content .common-info .vac-card-title{
    transition: .2s all ease;
    color: #36c;
    font-size: 20px;
    line-height: 30px;
    font-weight: 800;
    margin: 0;
}

.card-main-content .common-info .company-name{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}

.vac-card-salary, .vac-card-location{
    font-size: 16px;
    line-height: 20px;
}

.vac-card-salary{
    font-family: "Roboto-Condensed Bold", sans-serif;
    margin-right: 20px;
    vertical-align: top;
}

.vac-card-description{
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
    color: #687e88;
    max-height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.vac-card-footer{
    border-top: 1px solid #e0e7eb;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.vac-card-footer .publication-time{
    font-size: 14px;
    line-height: 20px;
    color: #687e88;
}

/* Aside right content */

.vac-aside-wrapper{
    margin-left: 10px;
    width: 300px;
}

.vac-rightContent{
    padding: 30px 25px;
    box-shadow: 0 0 10px rgba(33,37,39,.15);
    border-radius: 5px;
    border: none;
    background: #fff;
}

.vac-sidebar{
    max-width:250px;
}

.sidebar-divider{
    height: 1px;
    width: 100%;
    background-color: #d2d2d2;
    margin-top: 20px;
}

.vac-sidebar-schedule, .vac-sidebar-salary, .vac-sidebar-workLevel{
    padding-top: 20px;
}

.salary-flex{
    display: inline-block;
    position: relative;
    margin: 5px 0;
    outline: none;
}

.salary-input-line{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.salary-input{
    height: 30px;
    max-width: 100px;
    padding: 0 10px;
    margin: 0 10px;
    border: 1px solid;
    border-radius: 3px;
    border-color: rgba(0,0,0,0.54);
}

.salary-input-btn{
    border-radius: 3px;
    border: 1px solid #48478a;
    margin-left: 10px !important;
    text-transform: uppercase;
    height: 30px;
    width: 37px;
    padding: 0 !important;
    position: relative;
    top: -.5px;
    min-width: 0 !important;
    color: #48478a;
    transition: .3s all ease;
}

.salary-input-btn:hover{
    color: white;
    background-color: #48478a;
}







