/* LOADING AND ERROR */
.rating-loading, .rating-error{
    position: absolute;
    top: 50%;
    right: 8%;
}
.aside{
    width: 20%;
    max-width: 300px;
    padding: 30px 30px 30px 0;
}
.rating{
    /*flex: 1;*/
    /*margin: 0 1rem 0 1rem;*/
    /*border: 4px solid #a3a3a3;*/
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);;
}

.rating h3{
    font-size: 1.5rem;
    margin-bottom: 0 !important;
    /*margin-top: 7px;*/
    padding: 10px;
    /*border-bottom: 1px solid rgba(0,0,0,0.2);*/
    text-align: center;
    text-transform: uppercase;

    transition: all 0.3s ease;
}

.rating h3 a{
    color: inherit !important;
    text-decoration: none;
}

.rating h3:hover{
    color: #fff;
    background-color: #48478a;
    cursor: pointer;
}



.rating-blocks{
    display: flex;
    flex-direction: column;
}

.rating-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 90px;
    box-sizing: border-box;
    padding: 0 0 5px 5px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    transition: all 0.5s ease;
    overflow: hidden;
}
.rating-item:first-child{
    border-top: 1px solid rgba(0,0,0,0.2);
}
.rating-item:hover{
    background-color: #48478a;
}
.rating-item:hover .col-box a:first-child{
    color: #fff;
}
.rating-item:hover .col-box a:last-child{
    color: #A9A9A9;
}

.rating-item:hover .points .bold{
    color: #fff;
}

.rating-item:hover .points .small{
    color: #A9A9A9;
}

.user-icon{
    padding: 5px 5px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
}
.col-box{
    display: flex;
    flex-direction: column;
}
.col-box a {
    margin-left: 15px;
    font-size: 20px;
    color: #48478a;
}
.col-box a + a{
    font-size: 15px;
    color: #4e4e4e;
    text-transform: uppercase;
}
.rating-blocks .rating-item .flex-placeholder{
    flex: 1;
}

.rating-blocks .rating-item .points{
    margin-right: 15px;
    line-height: 1rem;
    white-space: nowrap;
}

.points .bold{
    font-family: "Roboto-Condensed Bold", sans-serif;
    font-size: 1rem;
}

.points .small{
    font-size: 12px;
}
