.rating-blocks{
    display: flex;
    flex-direction: column;
}

.rating-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 90px;
    box-sizing: border-box;
    /*margin: 0 8px 7px 7px;*/
    padding: 0 0 5px 5px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    /*box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2);*/
    transition: all 0.5s ease;
    overflow: hidden;
}
.rating-item:first-child{
    border-top: 1px solid rgba(0,0,0,0.2);
}
.rating-item:hover{
    background-color: #3292de;
}
.rating-item:hover .col-box a:first-child{
    color: #e3e3e3;
}
.rating-item:hover .col-box a:last-child{
    color: #181818;
}

.user-icon{
    padding: 5px 5px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
}
.col-box{
    display: flex;
    flex-direction: column;
}
.col-box a {
    margin-left: 15px;
    font-size: 20px;
    color: #3292de;
    text-decoration: none;
}
.col-box a + a{
    font-size: 15px;
    color: #4e4e4e;
    text-decoration: none;
    text-transform: uppercase;
}
.rating-blocks .rating-item .flex-placeholder{
    flex: 1;
}

.rating-blocks .rating-item .points{
    margin-right: 15px;
    line-height: 1rem;
    white-space: nowrap;
}

.points .bold{
    font-weight: 700 !important;
}

.points .small{
    font-weight: 400 !important;
    font-size: 10px;
}
