.navbar {
    background-color: #3292de !important;
}
.main-header{
    position: sticky;
    top: 0;
    min-height: 2em;
    z-index: 999;
}

.nav-link{
    color: #fff !important;
}


.navbar-nav,
.mr-auto {
    font-size: 1.5rem;
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: space-around;
}

.nav-logo{
    background-color: #f4f4f4 !important;
    display: flex;
    margin: auto !important;
    justify-content: space-between;
}

.logo{
    font-size: 3rem;
    padding: 0.5rem 2rem;
    background-color: #4145dd;
}



