/*  Common info  */
.users-profile {
    display: flex;
    padding: 0 0 0 40px;
}

.users-profile-content{
    width: 100%;
    padding: 0 0 0 40px;
}

.users-profile-blockHeader{
    width: 450px;
    max-width: 400px;
    padding: 27px 30px 26px;

}

.users-profile-name h3{
    font-size: 36px;
}

.users-profile-name h3:after{
    content: '';
    display: block;
    height: 1px;
    width: 800px;
    background-color: #b2b2b2;
}

.users-profile-info{
    display: flex;
}
.users-profile-common{
    width: 500px;
    max-width: 500px;
}
.users-profile-socials{
    width: 500px;
    max-width: 500px;
}

.users-profile-field {
    font-family: "Roboto-Condensed Light", sans-serif;
    font-weight: 700;
    margin-top: 20px;
}

.users-profile-field span{
    margin-left: 10px;
    font-weight: 400;
}

.users-profile-about{
    margin-top: 25px;
    font-family: "Roboto-Condensed Light", sans-serif;
    font-weight: 700;
}

.users-profile-about p{
    width: 100%;
    max-width: 800px;
    white-space: normal;
}

.users-profile-about p span{
    font-weight: 400;
}

.rate-comment-container{
    width: 100%;
    margin: 50px 0;
}

.rate-btn-container{
    width: 500px;
    margin: 0 auto;
}

.rate-btn{
    font-size: 21px;
    width: 100%;
    padding: 10px 100px;
    background-color: #2bbbad;
    color: white;
    box-shadow: 0 0 7px 2px rgb(43, 187, 173);

    transition: .4s all ease;
}

.rate-btn:hover{
    background-color: white;
    color: #2bbbad;
    border: 2px solid #2bbbad;
}

.disabled-btn{
    font-size: 16px;
    cursor: not-allowed;
    pointer-events: all !important;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    box-shadow: none;
}

.disabled-btn:hover{
    cursor: not-allowed;
    pointer-events: all !important;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    box-shadow: none;
}

.approve-btn-block{
    font-family: "Roboto-Condensed Regular", sans-serif;
    font-size: 16px;
    width: 300px;
    height: 150px;
    padding: 15px;
    background-color: white;
    position: fixed;
    top: 150px;
    right: 100px;

    border-radius: 8px;
    box-shadow: 11px 8px 13px 0px rgb(33 37 39 / 5%), inset 0 0 0 1px #e0e7eb
}

.approve-content{
    display: flex;
}

.done{
    display: flex;
    justify-content: flex-end;
}

.approve-content .done-container{
    margin-right: 60px;
}

.approve-btn-close .MuiSvgIcon-root{
    transition: .2s all ease;
}

.approve-btn-close .MuiSvgIcon-root:hover{
    color: #2bbbad;
    transform: rotate(90deg);
}

.approve-btn{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

