*{
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    vertical-align: baseline;
}

html{
    background-color: #f4f4f4;
}

ol,ul{
    list-style: none;
}

div{
    display: block;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.app{
    width: 100%;
    color: #000 ;
    -webkit-font-smoothing: antialiased ;
    background-color: #f4f4f4;
}
