.main-center{
    width: 100%;
    font-family: "Roboto-Condensed Light", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    padding-bottom: 60px;
    margin-top: 100px !important;
}

.vac-details-card{
    background-color: white;
    border-radius: 8px;
}

.vac-back-link:hover{
    color: #2bbbad;
}

.vac-btn{
    font-weight: bold;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
    -webkit-transition: all 0.1s ease;
    transition: all 0.5s ease;
    border: none;
    background-color: #2bbbad;
    color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px 50px;
    font-size: 1rem;
    cursor: pointer;
}

.vac-btn:hover{
    background-color: #fff;
    color: #2bbbad;
}

.link-back{
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative;
}

.vac-top-action{
    background-color: #fff;
    position: relative;
    border-radius: 8px;
}

.vac-top-action .vac-action-card{
    border-top: none;
    padding-top: 20px;
    position: relative;
}

.vac-action-card{
    border-radius: 8px 8px 0 0;
    background-color: #fff;
    border-bottom: 1px solid #e9ebed;
    margin-bottom: -1px;
    padding: 20px 40px;
    position: relative;
}

.vac-action-top ul.link-back{
    margin: 0;
}

.vac-action-list-inline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
    margin-bottom: 0;
}

.vac-details-card{
    width: 65%;
}

.vac-details-card-main{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.vac-details-card-date{
    color: #687e88;
    margin-bottom: 15px;
}

.vac-details-card-title{
    font-size: 42px;
}

.vac-details-card-company{
    /*font-family: "Roboto-Condensed Light", sans-serif;*/
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
}

.vac-details-card-salary{
    font-family: "Roboto-Condensed Bold", sans-serif;
    font-size: 25px;
}

.vac-details-card-address{
    font-size: 22px;
    padding-top: 30px;
}

.vac-details-card-contacts{
    margin-top: 20px;
}

.contacts-heading{
    font-family: "Roboto-Condensed Bold", sans-serif;
    font-size: 22px;
}

.contacts-content{
    font-family: "Roboto-Condensed Light", sans-serif;
    font-size: 22px;
}

.vac-details-card-employment{
    font-size: 20px;
    margin: 10px 0 0 0;
}

.vac-details-card-info{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin-top: 30px;
}

.vac-details-card-info span{
    margin-bottom: 10px;
}

.vac-details-card-descr{
    margin-top: 40px;
}

.vac-details-sendCV{
    margin-top: 40px;
}

.vac-details-frame-container{
    width: 100%;
    min-height: 200px;
    border: 2px solid rgba(224, 231, 235, 1);
    border-radius: 8px;

    margin-top: 40px;
}

.vac-details-frame-block{
    padding: 20px;
}

.frame-heading{
    font-family: "Roboto-Condensed Bold", sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
}

.frame-content{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.frame-content-section{
    flex: 1;
}

.frame-content-section li{
    position: relative;
}

.frame-content-section li::before{
    content: '';
    display: block;
    position: absolute;
    background-color: #2bbbad;
    width: 6px;
    height: 6px;
    top: 9px;
    left: -18px;
    transform: rotate(-45deg);
}

.frame-section-heading{
    font-family: "Roboto-Condensed Bold", sans-serif;
}

.vac-details-company-container{
    width: 30%;
    min-height: 200px;
    max-height: 275px;
    margin-left: 25px;

    background-color: white;
    border-radius: 8px;
}

.vac-details-icon-block{
    display: flex;
    justify-content: center;
}

.vac-details-info{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.vac-details-info div{
    text-align: center;
}

.vac-details-info div:nth-child(1) a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;

    color: #2bbbad;
    transition: all .4s ease;
}

.vac-details-info div:nth-child(1) a:hover{
    color: #2bbbad;
    text-shadow: 0 0 15px #2bbbad;
}

.vac-details-info div:nth-child(2){
    margin-top: -15px;
}

.vac-details-info div:nth-child(2) span{
    font-size: 17px;
}

.vac-details-info div:nth-child(3) a{
    text-decoration: none;
    color: #687e88;
}

.vac-details-info div:nth-child(3) a:hover{
    color: #687e88;
    text-shadow: 0 0 15px #687e88;
}



